@import "tailwindcss";

@layer base {
  .dark {
    --background: oklch(0.15 0.015 250); /* slate-950 */
    --foreground: oklch(0.97 0.01 250); /* slate-50 */

    --card: oklch(0.18 0.015 250); /* slate-900 */
    --card-foreground: var(--foreground);

    --primary: oklch(0.72 0.2 215); /* sky-500 */
    --primary-foreground: oklch(0.2 0.03 215);

    --secondary: oklch(0.25 0.015 250); /* slate-800 */
    --secondary-foreground: var(--foreground);

    --accent: oklch(0.6 0.18 150); /* green-400 */
    --accent-foreground: oklch(0.14 0.02 150);

    --border: oklch(0.35 0.015 250); /* slate-700 */
    --input: var(--border);
    --ring: var(--primary);
  }
}


body {
  @apply   bg-slate-950 text-slate-50
}

button{
  cursor: pointer;
}